/node_modules
/public/hot
/public/storage
/public/documents
/public/images
/public/downloads
/public/assignments/*
/storage/*.key
/vendor
/ref
.idea
.idea/*
.idea/workspace.xml
/.vagrant
/tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
